/* Global Styles */
body {
    font-family: sans-serif;
    background: url(../images/b.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.maincont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76vw;
    max-width: 740px;
    min-width: 550px;
    background-color: rgba(65, 64, 64, 0.6);
    backdrop-filter: blur(10px);
    margin-top: 10vh;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

form {
    width: 100%;
}

label {
    font-size: 16px;
    color: #fff;
}

input:not([type=submit]):not([type=checkbox]):not(.ed_bg input):not(.exp1 input){
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
}

select {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
}

.ed_bg input:not([type=checkbox]){
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
}

textarea {
    resize: none;
    width: 100%;
}

span {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.names, .sgb, .acn, .contact_det {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

button[type="button"], .add_ex input[type="submit"] {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"] {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    align-self: center;
    width: 100px;
    height: 40px;
}

.classelem, .classhigh, .classcollege {
    display: none;
}

.hsheader, .elemheader, .colheader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: auto auto auto 10px;
    max-width: 90%;
}

.ed_bg:not(input[type=checkbox]){
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 30vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(1% 50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.personal_inf {
    display: flex;
    flex-direction: column;
}

.exps {
    align-self: stretch;
    position: relative;
    align-self: center;
}

.exp1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.exp1 input {
    width: 100%;
    max-width: 270px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .names, .sgb, .acn, .contact_det, .exp1 {
        grid-template-columns: 1fr;
    }
}
