*{
    padding: 0;
    margin:0;
}
body {
    font-family: sans-serif;
    background: url(../images/b.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.maincont{
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76vw;
    max-width: 1000px;
    min-width: 300px;
    background-color: rgba(245, 245, 245, 0.591);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    margin-top: 7vh;
    padding: 25px 2px;

  

   
}
span{
    margin-right: 5%;
}
textarea{
    resize: none;
}
.names,.sgb, .acn, .contact_det, .exp1{
    display: grid;
    grid-template-columns: 1fr 1fr 1.02fr;
    grid-gap: 10px;
}
.job_op{
    position: fixed;
    bottom: 90px;
    right: 10px;
    padding: 1rem;
    border-style: none;
    font-size: large;

}
.job_op:hover{
    background-color: rgb(200, 203, 227);
}
img{
    
    width: 20px;
    height: 20px;
    mix-blend-mode: color-burn;
    object-fit: contain;
    right: 10px;
}
.buttons button{
    background-color: rgba(240, 160, 31, 0);
    border-style: none;
    cursor: pointer; 
    
    
}
.buttons{
    position: relative;
    align-self: flex-end;
    right: 0px;
    
    
    
}
.listcont{
    position: relative;
    align-self: flex-start;
    width: 100%;
}
.list{
    position: relative;
    align-self: flex-start;
    width: 100%; /* Take full width of the parent container */
    background-color: lightgray; /* For visibility */
    text-align: left; /* Ensure the content is aligned to the left */
    padding: 10px; /* Optional: For better readability */
    box-sizing: border-box;
    
    /* Ensure padding is included in width */
   /* grid-template-columns: 1fr 1fr 1fr 1fr; /* Three columns with equal width */
   /* grid-gap: 10px 5px;*/
}
.list button{
    text-align: left;
    width: 70%;
    padding: 10px;
    
}
#header-placeholder{
    width: 100%;
    justify-content: flex-end;
}
.applicantList{
    display: none;
    width: 76vw;
    margin-top: 10vh;
    font-size: larger;
    max-width: 700px;
    min-width: 200px;
    background-color: rgba(245, 245, 245, 0.591);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
}
#Fill_out{
    display: flex;
    justify-content: center;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
#contact img{
    width: 25px;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }
  footer {
    width: 100%;
    background-color: 	#c2c2c2;
    position: absolute; 
    
    bottom: 0;
    color: #404040;
    text-align: center;
    transition: transform 0.5s ease;
    font-size: 25px;
  }  